
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Players</h5>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-alert-circle-exc"> </i>
                <p>icon-alert-circle-exc</p>
              </div>
            </div>
              <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <i class=" tim-icons icon-simple-delete"> </i>
                <p>icon-simple-delete</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
