/* You can add global styles to this file, and also import other style files */
.r-btn{
    float: right;
}


.form-control option {
    color: #222;
}

.form-control.ng-invalid {
    border-color: #e0004b!important;
}